<huber-header>
  <huber-add-new-shopping-cart></huber-add-new-shopping-cart>
</huber-header>

<div class="container-fluid">
  <div class="card" *ngFor="let sc of shoppingcarts$ | async">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex flex-column card-title">
          <h2 class="m-0">{{ sc.name }}</h2>
          <h6 class="fw-light fst-italic">{{ sc.category }}</h6>
        </div>

        <div class="d-flex">
          <huber-add-todo [shoppingCart]="sc"></huber-add-todo>
          <button
            type="button"
            class="btn btn-danger"
            title="Löschen"
            (click)="deleteShoppingCart(sc)"
          >
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </div>
      <huber-todo-list
        [shoppingCart]="sc"
        [todos$]="sc.todos"
      ></huber-todo-list>
    </div>
  </div>
</div>
