<div class="todo-container">
  <huber-add-new-shopping-cart></huber-add-new-shopping-cart>

  <mat-card *ngFor="let sc of shoppingcarts$ | async">
    <mat-card-header class="card-header">
      <div class="header-content">
        <h2>{{ sc.name }} [{{ sc.category }}]</h2>
        <div class="todo-container-actions">
          <huber-add-todo></huber-add-todo>
          <button
            mat-raised-button
            type="submit"
            title="Löschen"
            color="primary"
          >
            <mat-icon mat-list-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <huber-todo-list [todos$]="sc.todos"></huber-todo-list>
    </mat-card-content>
  </mat-card>
</div>
