.todo-card {
  border: 1px solid black;
}

.todo-container {
  padding: 16px;
}

.todo-form {
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-header {
  background-color: #3f51b571;
  color: white;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 2rem;
}

.todo-container-actions {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.input-todo {
  flex-grow: 1;
  padding-right: 1rem;
}
