<form [formGroup]="scForm" (ngSubmit)="onAdd()">
  <div class="input-group">
    <span class="input-group-text"><i class="fas fa-shopping-cart"></i></span>
    <input
      type="text"
      formControlName="name"
      placeholder="Geschäft..."
      aria-label="Geschäft"
      class="form-control"
    />
    <span class="input-group-text"><i class="fas fa-receipt"></i></span>
    <input
      type="text"
      formControlName="category"
      placeholder="Kategorie..."
      aria-label="Kategorie"
      class="form-control"
    />
    <button class="btn btn-secondary" type="submit" [disabled]="!scForm.valid">
      <i class="fas fa-plus"></i>
    </button>
  </div>
</form>
