<ul class="list-group" *ngFor="let todo of todos$">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <div class="flex-grow-1" [class.todo-finished]="todo.finished">
      <span class="me-2" style="cursor: pointer" (click)="toggleStatus(todo)">{{
        todo.name
      }}</span>
      <span class="badge bg-primary rounded-pill">{{ todo.amount }}</span>
    </div>

    <div class="input-group">
      <button
        type="button"
        class="btn btn-outline-secondary"
        title="taggen"
        (click)="addTag(todo.name)"
      >
        <i class="fas fa-star"></i>
      </button>

      <button
        type="button"
        class="btn btn-outline-secondary"
        title="-"
        [disabled]="todo.finished"
        (click)="decreaseAmount(todo)"
      >
        <i class="fas fa-minus"></i>
      </button>

      <button
        type="button"
        class="btn btn-outline-secondary"
        title="+"
        [disabled]="todo.finished"
        (click)="increaseAmount(todo)"
      >
        <i class="fas fa-plus"></i>
      </button>

      <button
        type="button"
        class="btn btn-outline-secondary"
        title="löschen"
        [disabled]="!todo.finished"
        (click)="deleteTodo(todo)"
      >
        <i class="fas fa-trash"></i>
      </button>
    </div>
  </li>
</ul>
